* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
  }
  
  html {
    background: #faf7f2;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  
